@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.fira-sans-global {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.global-bg {
    background-color: #F5F5F5;
}
  


/* nav section */

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

nav h3{
    font-size: 20px;
    color: #0E0E0E;
}

.header button {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.header button:hover {
    border: 1px solid red;
    background-color: red;
  }

nav button {
    color: rgba(0, 106, 80, 1);
    background-color: #F5F5F5;
    border-radius: 8px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(0, 106, 80, 1);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

nav button:hover {
    color: red;
    border: 1px solid red;
    
  }

/* hero section */

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c6e4d6;
    border-radius: 24px;
}

.shahidminar {
    margin: 80px 60px 80px 0px;
}

.header {
    /* margin: 117px 0 60px 117px; */
    margin-left: 60px;
    padding-left: 0px;
}

.header h5 {
    font-size: 24px;
    color: #6f7e77;
    margin-bottom: 16px;   
}

.header p {
    font-size: 56px;
    font-weight: 800;
    margin: 10px 0;
}

.header button {
    color: #FFFFFF;
    font-size: 18px;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    border: 2px solid #006A50;
    margin-top: 10;
}

/* Shared Style */


/* Pillars of "Bangladesh 2.0" */

.pillar {
    margin-top: 80px;
}

.pillar h3 {
    font-size: 40px;
    font-weight: 800;
    color: #0E0E0E;
}

.cards {
    display: flex;
    justify-content: space-around;
    /* background-color: #FFFFFF; */
    /* margin: 24px; */
    gap: 24px;
    
}

.card_border {
    border: 1px solid #E2E9E5;
    border-radius: 16px;
    padding: 24px;
    background-color: #FFFFFF;
}

.cards h5{
    font-size: 20px;
    font-weight: 800;
    color: #0E0E0E;
}

.cards p {
    font-size: 16px;
    color: #747474;
}


/* The Vision of Future */

.vishon-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.vishon-section h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.vishon-section p {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 32px;
}

.blue {
    background-color: rgba(84, 144, 245, 0.2);
    
}

.green {
    background-color: rgba(198, 228, 214, 1);
}

.yellow {
    background-color: rgba(247, 235, 207, 1);
}

.btn-blu {
    background-color: #5490F5;
    border: none;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-grn {
    background-color: #09A15C;
    border: none;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-ylo {
    background-color: #FFC239;
    border: none;
    color: #FFFFFF;
    padding: 11px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-blu:hover {
    background-color: #09A15C;
  }

.btn-grn:hover {
    background-color: #FFC239;
  }

.btn-ylo:hover {
    background-color: #5490F5;
  }

/* Dr. Muhammad Yunus Section */ 

.quote {
    font-size: 16px;
    color: #747474;
    margin-top: 32px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    padding: 24px 48px;
    border: 1px solid #E2E9E5;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 80px;
    /* margin-top: 80px;
    margin-left: 10px; */
}

.quote h3 {
    font-size: 20;
    font-weight: 600;
    color: #0E0E0E;
}

.quote h5 p {
    font-size: 16px;
    color: #747474;
}

/* Your Opinion Matters */ 

.opinion-banner {
    /* display: flex;
    justify-content:center ; */
    border: 1px solid #E2E9E5;
    border-radius: 16px;
    background-color: #FFFFFF;
    /* width: 70%; */
    /* margin-left: 100px; */
    padding: 30px;
 }



/* .option-container {
 background-color: #FFFFFF;
 border-radius: 16px;
} */

.option-container {
    width: 70%;
    background-color: #FFFFFF;
    text-align: center;
}

.option-container h1 {
    text-align: center;
   
}

table {
    width: 100%;
    border-collapse:collapse ;
    /* margin-top: 20px; */
    border: 1px solid #b9bcbb;
}

thead {
    background-color: #C6E4D6;
}

thead th {
    text-align: left;
    padding: 10px;
}

tbody td {
    padding: 10px;
    border: 1px solid #b9bcbb;
}

select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #C6E4D6;
}


/* Recent News */ 

.recent_news {
    margin-top: 80px;
}

.recent_news h1 {
    font-size: 32;
    color: #0E0E0E;
    font-weight: bold;
}

.recent_news p {
    color: #747474;
    font-size: 16;
}

.news-description h3 {
    font-size: 32px;
    color: #0E0E0E;
}

.news-description p {
    font-size: 16px;
    color: #747474;
}

.news-banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #E2E9E5;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 48px;
}

.satelite-img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.news button {
    font-size: 18px;
    display: inline-block;
    color: #F5F5F5;
    background-color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    text-decoration: none;
    padding: 13px 26px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.news button:hover {
    color: #0E0E0E;
    background-color: #C6E4D6;
  }


/* Donate Today */

.donation-container {
    margin-top: 8;
}

.title-description h1 {
    font-size: 40;
    font-weight: bold;
    color: #0E0E0E;
    text-align: center;
    
}

.title-description p {
    font-size: 16;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-top: 24px; */
    /* border: 1px solid black; */
    /* padding: 10px; */

}

.donation-card {
    display: flex;
    justify-content: space-around;
    flex: wrap;
    margin: 20px;
    color: #0E0E0E;
    padding: 32px;
}

.donation-option {
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    border: 1px solid #E2E9E5;
    border-radius: 16px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    
}

.donation-option:hover {
    background-color: #C6E4D6;
  }

.donation-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.donation-footer button {
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    background-color:  #006A50;
    text-decoration: none;
    padding: 17px 34px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.donation-footer input {
    width: 85%;
    /* border: 1px solid rgb(52, 51, 50);
    padding: 20px 40px; */
    padding: 10px;
    font-size: 18px;
    border: 1px solid #E2E9E5;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    
}

.donation-footer button:hover {
    background-color: coral;
  }